<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"> <!-- add CSS style sheet -->
      <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Karla|Lobster|Pacifico" rel="stylesheet"> <!-- add Google fonts -->
      <title>Olin Course Catalog: {{ area }}</title>
      <style type="text/css">
        td, th { border: 0 !important; }
      </style>
    </head>

    <body>
      <div class="transparent">
      <article id="top">
      <h1>Olin Course Catalog: {{ area }}</h1>
      <p>To learn more about <b>any {{ area }} course</b>, click on its name.</p>
      <dl>
        {% for index, course in courses %}
          <dt><b><a href="/courses/{{course.course_number}}">{{ course.course_number }}: <i>{{ course.course_name }}</i></a> ({{ course.course_contact }})</b></dt>
          <dd>{{ course.course_description }}</dd>
          <dd><a href="#top"><div style="font-size:15px;color:#005c99">Back to Top</a></dd>
          <dd><a href="#bottom"><div style="font-size:15px;color:#005c99">Skip to Bottom</a></dd>
          <dd><br/></dd>
        {% endfor %}
      </dl>
      <article id="bottom">
      <p><b><a href="/">Return to Home</a></b></p>
    </body>
  </html>
