<!DOCTYPE html>
  <html>
    <head>
      <link rel=stylesheet type=text/css href="static/style.css?q=3233739690"> <!-- add CSS style sheet -->
      <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Karla|Lobster|Pacifico" rel="stylesheet"> <!-- add Google fonts -->
      <title>Olin Course Catalog</title>
      <style type="text/css">
        td, th { border: 0 !important; }
      </style>
    </head>
    <body>
      <div class="transparent">
      <h1>Olin Course Catalog</h1>

      <h2>Course Areas</h2>
      <p>Select a <b>course area</b> below to view all related courses.<br/><br/>
      {% for area in areas | sort %}
          <a href="/area/{{area}}">{{area}}</a> &emsp; &emsp; 
      {% endfor %}
      </p>

      <h2>Instructors</h2>
      <p>Select any <b>instructor(s)</b> below to view their courses.<br/><br/>
      {% for contact in contacts | sort %}
        <a href="/instructor/{{contact}}">{{contact}}</a> &emsp; &emsp; 
      {% endfor %}
      </p>
      <center><img src="static/olin-logo.png" height="120"/></center>
      </div>

      
    </body>
  </html>
