<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"> <!-- add CSS style sheet -->
      <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Karla|Lobster|Pacifico" rel="stylesheet"> <!-- add Google fonts -->
      <title>Olin Course Catalog: {{ name }}</title>
      <style type="text/css">
        td, th { border: 0 !important; }
      </style>
    </head>

    <body>
      <div class="transparent">
      <h1>Olin Course Catalog</h1>
      <h2>Courses taught by {{ name }}</h2>
      <p>Click a course title to learn more.</p>
      <dl>
        {% for index, instructor in instructors %}
          <p><a href="/courses/{{instructor.course_number}}">{{instructor.course_number}}: {{instructor.course_name}}</a></p>
          
        {% endfor %}
      </dl>

      <p><b><a href="/">Return to Home</a></b></p>
    </body>
  </html>
